@import url('https://fonts.googleapis.com/css?family=Baloo+Bhaina');

.Entrance {
    display: block;
}

.Entrance input {
    width: 80%;
    font-size: 30px;
    text-align: center;
    color: #FFF;
    background-color: #a5a5a5;
    border: 0;
    border-radius: 5px;
    padding: 10px;
    margin: 10px auto;
    box-sizing: border-box;
    display: block;
    font-family: 'Source Sans Pro', sans-serif;
}

.Entrance input::placeholder {
    color: white;
}

.Entrance button {
    display: block;
    width: 80%;
    font-size: 30px;
    text-align: center;
    color: #FFF;
    background: black;
    border: 0;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 4px 4px #333;
    margin: 10px auto;
    text-transform: uppercase;
    font-weight: bold;
    font-family: 'Source Sans Pro', sans-serif;
    transition: all 0.1s;
}

.Entrance button:active {
    transform: translate3d(0, 5px, 0);
    box-shadow: 0 0 4px #333;
}

.Entrance .divider {
    height: 60px;
}

.Entrance .logo {
    width: 100%;
    font-size: 50px;
    font-family: 'Baloo Bhaina', sans-serif;
    color: #dedede;
    letter-spacing: -4px;
    text-align: center;
}

.Entrance .logo .version {
    font-size: 20px;
    letter-spacing: normal;
    display: inline-block;
    margin-left: 5px;
}