button {
  font-family: 'FreePixel';
  font-size: 36px;
  background: none;
  border-radius: 5px;
  padding: 25px;
  border: 2px solid #FFF;
  color: #FFF;

  &.full {
    width: 100%;
  }

  &.spaced {
    margin-bottom: 10px;
  }

  &.success {
    color: $green;
    border-color: $green;
  }

  &.big {
    padding: 40px;
    font-size: 50px;
  }
}